
<link rel="stylesheet" href="http://s1.700static.com/mobile/activity/css/reset.min.css?var=20160127" />
<link rel="stylesheet" href="http://s1.700static.com/mobile/activity/css/fg.1.1.min.css?var=20160422" />
<link rel="stylesheet" href="/mobile/static/css/common.css?var=20160127" />