<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewport"
	content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="pragram" content="no-cache">
<meta name="apple-itunes-app" content="app-id=874323793">
<link type="text/css" rel="stylesheet"
	href="/mobile/static/css/charityValidate.default.css"
	media="screen">
<link rel="stylesheet"
	href="http://s1.700static.com/mobile/activity/css/reset.min.css" />
<link rel="stylesheet"
	href="http://s1.700static.com/mobile/activity/css/fg.css" />

<title>活动报名</title>
</head>
<body>
	<div class="fg-wrap bm-wrap">
		<form id="form" name="form" method="post"
			enctype="multipart/form-data"
			action="/activity/apply-inline/submit/$!{activityId}">
			<ul>
			<ul>
				#foreach( $!{one} in $!{list}) #if($!{one.widget}=='input')
				<li><span>$!{one.title} </span> <input type="text"
					name="$!{one.name}" id="$!{one.name}" value=""
					placeholder="$!{one.defaultValue}" #if($!{one.required}=="1") class="c_required  #if($!{one.type}=="positive") c_positive #elseif($!{one.type}=="phone")  c_tel #elseif($!{one.type}=="email") c_email #elseif($!{one.type}=="card") c_unstrictIdCard #elseif($!{one.type}=="cardStrict") c_strictIdCard #end" #elseif($!{one.type}=="positive") class="c_positive" #elseif($!{one.type}=="phone") class="c_tel" #elseif($!{one.type}=="email") class="c_email" #elseif($!{one.type}=="card") class="c_unstrictIdCard" #elseif($!{one.type}=="cardStrict") class="c_strictIdCard" #end/> <span
					style="text-align: left; color: red;" id="orgname"></span></li> #elseif
				($!{one.widget}=='select')
				<li><span>$!{one.title}</span> <select name='$!{one.name}'
					id='$!{one.name}'> #foreach($!{enum} in
						$!{one.EnumValues})
						<option value="$!{enum}">$!{enum}</option> #end
				</select></li> #elseif ($!{one.widget}=='checkbox') #foreach($!{enum} in
				$!{one.setEnumValues})
				<li><span>$!{one.title}</span> <label><input
						name="$!{enum}" type="checkbox" value="" />$!{enum} </label></li> #end #elseif
				($!{one.widget}=='radio')
				<li><span>$!{one.title}</span> <span class="xb-btn">女</span> <span
					class="xb-btn current">男</span></li>
				<input type="hidden" id="$!{one.name}" name="$!{one.name}" value="">
				#end #end
			</ul>
		</form>
		<div class="submit-btn" id="save">确认</div>
	</div>
	<script type="text/javascript"
		src="http://s1.700static.com/mobile/activity/js/jquery-1.8.3.min.js"></script>

	<script type="text/javascript"
		src="/mobile/static/js/charityvalidate.js"></script>
	<script>
		$(".xb-btn").click(function() {
			$(".xb-btn").removeClass("current");
			$(this).addClass("current");
		});
	</script>
	<script type="text/javascript">

		$(document).ready(function() {

			var	basicValidate = $("#form").bikeValidate();

			$("#save").click(function() {
				var name = $("#name").val();
				var phone = $("#phone").val();

				var hidName = $("input[type='hidden']").prop("name");

				var hidValue = $("[class='xb-btn current']").html();

				$("#" + hidName).val(hidValue);

				var checkOk = basicValidate.check();
				if (checkOk) {
// 					alert("验证通过！");
					form.submit();
				}

			});

		});
	</script>

</body>
</html>
