<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
		http://www.springframework.org/schema/task
		http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <mvc:annotation-driven/>
    <context:annotation-config></context:annotation-config>
    <context:component-scan base-package="com.bike.logserver.*"></context:component-scan>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="classpath:/project.properties" />

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"></property>
        <property name="url" value="${jdbc.url}"></property>
        <property name="username" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>

        <property name="initialSize" value="10"/>
        <property name="maxActive" value="100"/>
        <property name="numTestsPerEvictionRun" value="100"/>
        <property name="maxIdle" value="10"/>
        <property name="testOnBorrow" value="true"/>
        <property name="testWhileIdle" value="true"/>
        <property name="validationQuery" value="select 1"/>

        <!-- 设置在自动回收超时连接的时候打印连接的超时错误  -->
        <property name="logAbandoned" value="true"/>
        <!-- 设置自动回收超时连接 -->
        <property name="removeAbandoned" value="true"/>
        <!-- 超时时间(以秒数为单位) -->
        <property name="removeAbandonedTimeout" value="10"/>
        <!-- 超时等待时间以毫秒为单位  -->
        <property name="maxWait" value="10000"/>
        <property name="timeBetweenEvictionRunsMillis" value="300000"/>
        <property name="minEvictableIdleTimeMillis" value="3600000"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean id="dao" class="com.sf.common.database.dao.BaseDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>

    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:annotation-driven transaction-manager="txManager"/>

    <context:annotation-config/>
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    <task:annotation-driven/>

    <!--<context:component-scan base-package="com.bike.logserver.rest"/>-->
    <!--<context:property-placeholder location="classpath:project.properties"/>-->

    <bean id="taskJob" class="com.bike.logserver.Task.LoadTask"/>
    <task:scheduled-tasks>
        <!--<task:scheduled ref="taskJob" method="loadData" initial-delay="1000" fixed-delay="20000"/>-->
        <task:scheduled ref="taskJob" method="loadData" cron="0 59 2 * * ?"/>
    </task:scheduled-tasks>

    <aop:aspectj-autoproxy/>
    <!--使得自定义视图生效-->
    <bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
        <property name="order" value="1"/>
    </bean>
    <!--自定义视图-->
    <bean id="jsonView" class="com.bike.logserver.common.view.JsonView">
        <property name="beanName" value="jsonView" />
    </bean>
    <!--统一错误处理-->
    <bean id="exceptionHandler" class="com.bike.logserver.interceptor.RequestExceptionResolver"/>
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/status"/>
            <bean class="com.bike.logserver.interceptor.RequestParameterInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/getToken"/>
            <mvc:exclude-mapping path="/status"/>
            <bean class="com.bike.logserver.interceptor.RequestTokenInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>
