<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewport"
	content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="pragram" content="no-cache">
<meta name="apple-itunes-app" content="app-id=874323793">
<link rel="stylesheet"
	href="http://s1.700static.com/mobile/activity/css/reset.min.css" />
<link rel="stylesheet"
	href="http://s1.700static.com/mobile/activity/css/fg.css" />
<title>支付跳转中</title>
</head>
<body>
	<div class="fg-wrap bm-wrap">
		<form name="form1" id="form1" method="post"
			enctype="multipart/form-data"
			action="http://pay.700bike.com/WapWithToPay.aspx">
			<input type="hidden" name="BusinessId" value="$!{BusinessId}">
			<input type="hidden" name="PartnerId" value="$!{PartnerId}">
			<input type="hidden" name="Amount" value="$!{Amount}"> 
			<input type="hidden" name="Des" value="$!{Des}"> 
			<input type="hidden" name="OrderNumber" value="$!{OrderNumber}"> 
			<input type="hidden" name="Key" value="$!{paykey}">
			<p>支付跳转中... </p>
		</form>
	</div>
	<script type="text/javascript"
		src="http://s1.700static.com/mobile/activity/js/jquery-1.8.3.min.js"></script>
	
	<script type="text/javascript">
	$(function(){
		form1.submit();
	});
	</script>
</body>
</html>
