
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewport"
	content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="pragram" content="no-cache">
<meta name="apple-itunes-app" content="app-id=965724219">
<link href="http://s1.700static.com/mobile/activity/css/app.css" rel="stylesheet" type="text/css" />
<title>支付失败</title>

</head>
<body>
<!-- 	<div class="header"></div> -->
	<div class="status-bg">
		<img src="http://s1.700static.com/mobile/activity/img/pay_failure.png" alt="" title="" />
	</div>
	<p class="status-zf">很遗憾，支付失败。</p>
	<p class="status-hd">
		请检查支付宝余额或
		<button style="font-size: 1.6rem;"name="callCusSer" onclick="callCusSer()">联系700客服</button>
	</p>
</body>
<script type="text/javascript">
	function callCusSer() {

		location.href = "http://m.700bike.com/activity/apply-inline/apply-false";
	}
</script>
</html>
